@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 17%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 17%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 17%;
    --border: 210 40% 80%;
    --input: 210 40% 80%;
    --ring: 210 40% 80%;
    --radius: 0.5rem;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted font-sans text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html {
  scroll-behavior: smooth;
}
